    <h1><%= @list.name %></h1>
<%= pluralize(@list.movies.size, 'movie') %>
<%# <% @list.movies.each do |movie| %>
      <%# <% bookmark = Bookmark.find_by(list: @list, movie: @movie) %>
    <%# <% end  why does he do it like this ? Bookmark.find_by !!!%>
<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title  %>
  <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "movie-img rounded-top" %></li>
<% end %>

<%= link_to 'lists', lists_path %> -
  <%= link_to 'Leave a bookmark', new_list_bookmark_path(@list) %> -
